.bg-white {
    background-color: #ffffff;
    background-image: url("../assets/images/beeing.png");
    color: #f9f9f9;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 900px;
    margin-top: 1em;
    margin: auto;
    object-fit: cover;
    top:0;
    position: relative;
}

.layout {
    height: 100%;
    padding: 300px 0 300px 0;
    text-align: right;
   
}




.container { 
    margin-bottom: 300px;
    width: 80%;
    height: 100%;
}



.description-section{
    position: sticky;
    margin: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    background-color: #333;

}

.description{
    margin-top: 120px;
    position: relative;
    flex: 0 0 auto;
    top:0;
    padding: 0;
    width: 100%;
    margin: 0 auto;

    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
}

.description-text{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-size: 30px;
    padding-top: 150px;
   
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
}

.description-text2{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-size: 30px;
    padding-top: 300px;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 300px;
}

.dot-title{
    
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 30px;
    position: relative;
}

.dot-title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: #f9f9f9;
}

.dot-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: #c3c3c3;    
}