.bg {
    background-color: #ffffff;
    background-image: url("../assets/images/beeing.png");
    color: #f9f9f9;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    
   
}



.layout {
    height: 100%;
    padding: 500px 0 100px 0;
    text-align: right;
}


.sub-title{
    text-align: right;
}


.landing-section{
    margin-left: 380px;
    height: 100%;
    padding: 100px 0 500px 0;
    text-align: right;
}





.description-section{
    position: sticky;
    margin: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    background-color: #333;

}

.description{
    margin-top: 120px;
    position: relative;
    flex: 0 0 auto;
    top:0;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    width: 80%;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
}

.description-text{
    width: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 30px;
    padding-top: 150px;
   
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
}

.description-text2{
    width: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 30px;
    padding-top: 150px;
    padding-bottom: 200px;
   
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
}

